/*=============== Mobile ========================================*/
@media (max-width: 360px) {
}

@media (max-width: 480px) {
  .app {
    grid-template-areas:
      'header'
      'main'
      'footer';

    grid-template-rows: auto;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .header {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .header--nav .nav-btn {
    border-radius: 50%;
    outline: none;
  }
  .nav-btn i {
    color: #fff;
  }
  .nav-btn:hover {
    border: 2px solid var(--background-color-secondary);
  }
  .header .header--nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
  }
  .nav-add {
    position: absolute;
    width: 80%;
    height: 35rem;
    top: 22.5%;
    right: 10%;
    outline: 4px solid var(--background-color-secondary);
    border-radius: 1rem;
  }
  .nav-add__list {
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    position: relative;
  }

  .nav-element__link span {
    color: #f2f2f2;
    font-size: 1.8rem;
    font-weight: 700;
  }
  .nav-element__link span:hover {
    color: var(--background-color-secondary);
  }

  .header .header-form {
    width: 100%;
  }
  .header--searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem auto;
  }
  .inputForm {
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
  }
  .inputForm::placeholder {
    color: #333;
  }
  .header--formBtn {
    border: none;
    font-size: 1.2rem;
    margin-left: 0.5rem;
  }
  .logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .logo .logo-movie {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .logo-icon {
    color: #fff;
    margin-right: 1rem;
  }
  .logo-icon i {
    font-size: 2.8rem;
  }
  .logo-movie .logo-text {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--background-color-secondary);
  }
  .logo-plus {
    display: none;
  }
  .header-use--plus {
    display: none;
  }
  .figure-user img {
    border-radius: 50%;
    object-fit: cover;
  }

  /* === Main === */
  main {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-columns: auto;
    grid-auto-flow: row;
    gap: 1.5rem;
  }
  main > section {
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
  }

  .trendingPreview-container {
    align-items: center;
    overflow: hidden;
  }
  .trendingPreview-header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .trendingPreview-title {
    font-size: 1.8rem;
    font-weight: 900;
    margin: 2rem auto;
  }

  .movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-template-rows: auto;
    grid-auto-flow: row;
    gap: 1rem;
  }
  .slider-trending {
    text-align: center;
  }
  .movie-img {
    border-radius: 1rem;
  }

  /* === Footer */
  .footer {
    height: 35rem;
  }
}

/*=============== #Option ========================================*/
@media (min-width: 481px) and (max-width: 765px) {
  /* === Main === */
  .trend-img figure img {
    border-radius: 1rem;
  }
}

@media (min-width: 700px) {
}

/*=============== Tablet  ========================================*/
@media screen and (min-width: 768px) {
  .app {
    grid-template-areas:
      'header'
      'main'
      'footer';
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(150px 1fr));
    gap: 1rem;
  }
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  .header--nav {
    width: 60%;
    display: flex;
    /*  justify-content: space-between; */
    align-items: center;
    padding: 0.5rem;
  }
  .nav-btn {
    display: none;
  }
  .header-form {
    /*  width: 30%; */
    display: flex;
    align-items: center;
    padding: 0.5rem;
  }

  #idNavAdd {
    width: 70%;
    display: flex;
  }
  .nav-add__list {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    width: 100%;
    justify-content: space-evenly;
  }
  .nav-element__link span {
    font-size: 1.2rem;
    color: #f2f2f2;
    font-weight: 500;
  }
  .nav-element__link span:hover {
    color: var(--background-color-secondary);
    cursor: pointer;
  }
  .logo {
    display: none;
  }
  .logo-plus {
    margin-left: 0.5rem;
  }
  .logo-movie--plus {
    display: flex;
    align-items: center;
  }
  .logo-icon--plus i {
    font-size: 3.5rem;
    color: var(--background-color-secondary);
  }
  .logo-text--plus {
    font-size: 1.4rem;
    margin-left: 1rem;
    color: #f2f2f2;
    font-weight: 500;
  }
  .header-user {
    display: none;
  }
  .figure-user img {
    border-radius: 50%;
    object-fit: cover;
  }
  #idUserPlus {
    margin-right: 1.5rem;
  }
  .figure-user--plus {
    width: 3rem;
    height: 3rem;
  }
  #searchForm {
    display: flex;
    align-items: center;
  }
  #searchForm::placeholder {
    color: #333;
  }
  #idInput {
    width: 10rem;
    margin-right: 1rem;
    padding: 0.5rem;
    outline: none;
  }
  #searchBtn {
    padding: 0.5rem;
  }

  /* === MAIN === */
  .movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-template-rows: auto;
    grid-auto-flow: row;
    gap: 1rem;
  }
  .trend-img {
    width: 100%;
    padding: 0.5rem;
  }
  .trend-img figure {
    width: 100%;
    height: 25rem;
  }
  .trend-img figure img {
    border-radius: 1rem;
  }
}

/*=============== Screen Laptop ===================================*/
@media screen and (min-width: 1024px) {
}

/*=============== #Option ===================================*/
@media only screen and (min-width: 1280px) {
}

/*=============== Laptop Large  ===================================*/
@media only screen and (min-width: 1440px) {
}

/*=============== Laptop Xtra Large =================================*/
@media only screen and (min-width: 1920px) {
}

/* =Animation =*/
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* = Option Add =*/

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
