/*@import url(./src/css/media.css);*/

/*=============== Design System ========================================*/
:root {
  /* == Project Font Movie ==*/
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  --font-family: 'Montserrat', sans-serif;
  --font-family-roboto: 'Roboto', sans-serif;
  /*=== Font Size*/
  --font-title: 1.8rem;
  --font-title-two: 2.4rem;
  --font-size: 1.6rem;
  --font-medium: 1.4rem;
  --font-small: 1.2rem;
  --font-text-one: 1.2rem;
  --font-text-two: 0.8rem;
  --line-height: 2.4rem;
  /* === Weight ==*/
  --font-weight-title1: 900;
  --font-weight-title1: 800;
  --font-weight-title2: 700;
  --font-weight: 400;
  --font-weight-Two: 500;
  /* == Project Color Movie==*/
  --clr-white: #fff;
  --clr-white-Two: #f7f7f7;
  --clr-white-light: #c7c7c7;
  --clr-black: #000;
  --clr-black-two: #333;
  --color-scheme: light dark;
  /* == Project Color Movie Principal ==*/
  --background-color-primary: #4d49bf;
  --background-color-primary-plus: #412f59;
  --background-color-primary-plus-one: #646cff;
  --background-color-secondary: #55ccd9;
  --background-color-secondary-plus: #41d9bd;
  --background-color-complement: #abbf60;
  --background-color-complement-plus: #bad94a;
  --background-color-green: #0dd965;
  --background-color-blue: #3350a6;
  --background-color-rose: #d90467;
  /* == Project Color & Background Movie ==*/
  --background-color: #242424;
  --color: rgba(255, 255, 255, 0.87);
  /* == Margin*/
  --margin: 2rem auto;
  --margin-left: 2rem;
  --margin-right: 2rem;
  --margin-bottom: 2rem;
  /* == Padding*/
  --padding: 1rem;
  --padding-Plus: 1.5rem 3rem;
  --padding-two: 2rem 4rem;
  /* == Project Add  Movie ==*/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  outline: 2px solid #000;
  /* border-radius: 50%; */
}

.figure-user {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}

svg {
  display: block;
  max-width: 100%;
}

p,
span {
  letter-spacing: 0.1rem;
}

body {
  width: 100%;
  font-family: var(--font-family);
  background-color: #1a1a1a;
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

h1 {
  font-size: var(--font-title-two);
  line-height: 1.1;
}

#app {
  /*  max-width: 1280px; */
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*=============== Mobile Button ========================================*/
button {
  border-radius: 0.5rem;
  border: 1px solid transparent;
  padding: var(--padding);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: var(--background-color-secondary);
  color: var(--clr-white);
}
button:hover {
  background-color: #1a1a1a;
  outline: 2px solid var(--background-color-secondary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:active {
  transform: scale(0.9);
}
/* === APP Movie ===  */
.app {
  width: 100%;
  display: grid;
}

.app > .header {
  grid-area: header;
  /*  outline: 4px solid red; */
}

.app > .main {
  grid-area: main;
  outline: 4px solid violet;
}

.app > .footer {
  grid-area: footer;
  outline: 4px solid white;
}

/* === Active & Inactive === */
.inactive {
  display: none;
}
.visible {
  visibility: visible;
  /*  hidden */
}
.active {
  display: flex;
}

main {
  width: 100%;
  margin: 2rem auto;
  padding: 1rem;
  display: grid;
}

section {
  margin: 1rem auto;
  padding: 1rem;
  width: 100%;
}

article {
  width: 100%;
  margin: 1rem auto;
  padding: 0.5rem;
}

/* .trendingPreview-movieList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-template-rows: auto;
  grid-auto-flow: row;
  gap: 1rem; 
    overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 241px;
} */

/* .movie-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
} */

footer {
  width: 100%;
  display: grid;
  margin-top: 2rem;
  padding: 1rem;
}
