/*@import url(./src/css/media.css);*/

/*=============== Design System ========================================*/
:root {
  /* == Project Font Movie ==*/
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Montserrat', sans-serif;
  --font-family-roboto: 'Roboto', sans-serif;
  /*=== Font Size*/
  --font-title: 1.8rem;
  --font-title-two: 2.4rem;
  --font-size: 1.6rem;
  --font-medium: 1.4rem;
  --font-small: 1.2rem;
  --font-text-one: 1.2rem;
  --font-text-two: 0.8rem;
  --line-height: 2.4rem;
  /* === Weight ==*/
  --font-weight-title1: 900;
  --font-weight-title1: 800;
  --font-weight-title2: 700;
  --font-weight: 400;
  --font-weight-Two: 500;
  /* == Project Color Movie==*/
  --clr-white: #fff;
  --clr-white-Two: #f7f7f7;
  --clr-white-light: #c7c7c7;
  --clr-black: #000;
  --clr-black-two: #333;
  --color-scheme: light dark;
  --color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;
  /* == Margin*/
  --margin: 2rem auto;
  --margin-left: 2rem;
  --margin-right: 2rem;
  --margin-bottom: 2rem;
  /* == Padding*/
  --padding: 1rem;
  --padding-Plus: 1.5rem 3rem;
  --padding-two: 2rem 4rem;
  /* == Project Add  Movie ==*/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}

p,
span {
  letter-spacing: 0.1rem;
}

body {
  width: 100%;
  font-family: inherit;
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

h1 {
  font-size: var(--font-title-two);
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*=============== Mobile Button ========================================*/
button {
  border-radius: 0.5rem;
  border: 1px solid transparent;
  padding: var(--padding);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
